<h4>Listado</h4>
        <ul class="list-group">
          <!-- la variable i la utilizamos para enumerar cada uno de nuestros items en el listado -->
            <li *ngFor="let character of characterList;

              let i = index;
              let isFirst = first;
              let isLast = last;
              let isEven= even;
              let isOdd  = odd;
              "
              class="list-group-item d-flex justify-content-between  align-items-center p-1"
                [ngClass]="{
                  'list-group-item-dark': isLast,
                  'list-group-item-primary': isEven
                }"
              >

              <div>
                <span class="text-primary">{{i}} </span>
                <strong> power = </strong>
                <span>{{ character.name}} - </span>
                <span> {{character.power}} </span>
              <!-- <span> Es par: {{isEven}}</span>
              <span> Es impar: {{isOdd}}</span> -->

              </div>

                <!-- evento click envia por medio del metodo onDeleteCharacter el indice al componente padre donde esta el array y en donde vamos a eliminarlo -->
              <button class="btn btn-danger" (click)="onDeleteCharacter(character.id)">X</button>




            </li>

        </ul>
